<head>
    <title>Animation</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<form action="Login" method="post">
    {% csrf_token %}
    <div class="col-sm-3"></div>
    <div class="col-sm-7" style="padding: 50px;">
        <h4>
            <b>Username:</b>
        </h4>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="{{ form.Username.name }}" placeholder="Username" required>
        </div>
        <br>
        <br>
        <br>
        <h4>
            <b>Password:</b>
        </h4>
        <div class="col-sm-6">
            <input class="form-control" type="password" name="{{ form.Password.name }}" placeholder="Password" required>
        </div>
        <br>
        <br>
        <div class="col-sm-2"></div>
        <br>
        <div class="col-sm-2">
        <input class="form-control text-center" align="center" type="submit" value="Login" style="color:#ffffff; background:#008000;" />
        </div>
    </div>
</form>