<!--!DOCTYPE html>

<html lang="en">

<head>
    <title>Animation</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url(../../static/OptionsPage/bg-image.jpg); background-size: cover;">
    <div class="container-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-6" style="padding: 100px;">
            <form action="Login" method="POST">
                    {% csrf_token %}
                <h4 style="color: #ffffff">
                    <b>Username:</b>
                </h4>
                <input class="form-control" type="text" name="{{ form.Username.name }}" placeholder="Username" required>
                <br>
                <br>
                <h4 style="color: #ffffff">PASSWORD</h4>
                <input class="form-control" type="password" name="{{ form.Password.name }}" placeholder="Password" required>
                <br>
                <br>
                <div align="center">
                    <input type="button" class="btn btn-default" value="Sign in" onsubmit="Login">
                </div>
            </form>
        </div>
    </div>
</body>

</html-->

<form action="Login" method="post">
    {% csrf_token %}
    
    <h4>
        <b>Username:</b>
    </h4>
    <input class="form-control" type="text" name="{{ form.Username.name }}" placeholder="Username" required>
    <br>
    <br>
    <h4><b>Password:</b></h4>
    <input class="form-control" type="password" name="{{ form.Password.name }}" placeholder="Password" required>
    <br>
    <br>
    <input type="submit" value="Submit" />
</form>