<!DOCTYPE html> {% load static %}
<html>
<title>Option</title>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url(../../static/OptionsPage/bg-image.jpg); background-size: cover;">
    <div class="row container-fluid">
        <div class="col-sm-1">
            <img src="{% static 'OptionsPage/ISRO-Logo.png' %}" style="position:absolute; right:0 ; top:0; width:100px; height:100px;">
        </div>
        <div class="col-sm-10">
            <a href="Login" class="navbar-brand" method="get" style="background-color: #000000; color: #ffffff; font-size: 18px; position: absolute; right: 0; top: 0;">Log Out</a>
        </div>
    </div>
    <div style="padding: 100px 100px;" class="container-fluid">
        <form action="Options" method="post">
            {% csrf_token %}
            <div class="col-sm-2"></div>
            <br>
            <div class="col-sm-3">
                <div class="row">
                    <h3 style="color: #ffffff;">From Date
                        <span style="color: #ff161a;">*</span>
                    </h3>
                    <div class="col-sm-10">
                        <input style="height:40px;" class="form-control" type="date" name="{{ form.fromdate.name }}" required>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <h3 style="color: #ffffff; padding-top: 9px;">Interval
                        <span style="color: #ff161a;">*</span>
                    </h3>
                    <div class="col-sm-10">
                        <p id="interval"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <h3 style="color: #ffffff;">From Time
                        <span style="color: #ff161a;">*</span>
                    </h3>
                    <div class="col-sm-10">
                        <p id="FromTime">
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <h3 style="color: #ffffff;">Resolution
                        <span style="color: #ff161a">*</span>
                    </h3>
                    <div class="col-sm-10">
                        <select name="{{ form.res.name }}" class="form-control" id="Resolution" style="height: 41px;" required>
                            <option value="360">360</option>
                            <option value="720" selected>720</option>
                            <option value="1080">1080</option>
                            <option value="1440">1440</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <h3 style="color: #ffffff;">To Date
                        <span style="color: #ff161a;">*</span>
                    </h3>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" name="{{ form.todate.name }}" style=" height: 40px;" required>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <h3 style="color: #ffffff; padding-top: 10px;">Images per Second
                        <span style="color: #ff161a">*</span>
                    </h3>
                    <div class="col-sm-10">
                        <select name="{{ form.fps.name }}" class="form-control" style="height: 41px;" required>
                            <option value="2.5">0.25</option>
                            <option value="0.5">0.5</option>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="showdiv">
                <h3 style="color: #ffffff;">To Time
                    <span style="color: #ff161a">*</span>
                </h3>
                <div class="col-sm-8">
                    <p id="ToTime">
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <input class="btn btn-default" style="height: 45px;
                width: 100px; font-size: 17px;
                background-color: #008000;
                color: #ffffff;" type="submit" value="Proceed">
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-11"></div>
    <div class="col-sm-1">
        <img src="{% static 'OptionsPage/Team-Logo.png' %}" style="position:absolute; bottom:0; left:0; width:100px; height:100px;">
    </div>

    <script>

        function setTime(NAME,start) {
            var select = '<select name="' + NAME + '" class="form-control" style="height:40px;" required>';
            if(start==1){
                select += '<option> 00:00 </option>'
            }
            select += '<option> 00:30 </option>'
            for (var hour = 01; hour < 24; hour++) {
                select += '<option>' + hour + ':00 </option>';
                select += '<option>' + hour + ':30 </option>';
            }
            select += '</select>';
            return select;
        }
        document.getElementById("FromTime").innerHTML = setTime('{{ form.fromtime.name }}',1);
        document.getElementById("ToTime").innerHTML = setTime('{{ form.totime.name }}',1);
        //document.getElementById("Time").innerHTML = setTime('{{ form.fromtime.name }}');
        document.getElementById("interval").innerHTML = setTime('{{ form.interval.name }}',0);

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>

</body>

</html>