#requirements file for installing python dependencies for Grazer project
django
pillow
psycopg2-binary
numpy
requests
moviepy
watchdog
#we need white 4.0 beta minimum Current whitenoise version on pypi is 3.3.1
#whitenoise


